
body {
    background: #fff;
    color: #222;
    cursor: auto;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.wrapper {
    padding: 10px 15px 10px 15px;
    max-width: 640px;
    min-width: 220px;
    margin: 0 auto;
    position: relative;
}

.wrapper p {
    font-size: 0.7rem;
}

header {
    text-align: center;
}

header h1 {font-size: 18px; font-weight: 680; }

header h2 { font-size: 16px; font-weight: 640;}
header h2 img { height: 16px;}

.logo {
    height: 32px;
}

.licence {
    margin: 0 auto;
    width: 600px;
    height: 256px;
    overflow: auto;
    background: #e0e0e0;
}

.disclaimer {
    margin: 0;
    font-size: 11px;
    padding-bottom: 0.5em;
    letter-spacing: 1px;
}

.home {
    text-align: center;
    padding-bottom: 120px;
}

.columns {
    position: relative;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    float: left;
    box-sizing: border-box;
}

[class*="column"] + [class*="column"]:last-child {
    float: right;
}

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.small-3 { width: 25%; }
.small-6 { width: 50%; }
.small-9 { width: 75%; }

.footer {
    border-top: 1px solid #c2c2c2;
    text-align: center;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    background: #fff;
}

.logos li {
    list-style: none outside none;
    display: inline-block;
    line-height: 35px;
    height: 35px;
    margin:0 10px;
}

.logos #grnet img           { width: 76px; }
.logos #eu img              { width: 144px; }
.logos #dg img              { width: 130px; }
.logos #nsrf img            { width: 56px; }

// form

form                        { margin: 0 0 1rem; }

form small                  { display: none; }

.error small {
    display: block;
    font-size: 0.75rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 0.75rem;
    margin-top: -0.5rem;
    padding: 0.35rem 0.2rem 0.35rem 0.2rem;
    background: #f04124;
    color: #fff;
}

button, .button, .pickdir {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin-right: 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    background-color: #008CBA;
    border-color: #007095;
    color: #FFFFFF;
    transition: background-color 300ms ease-out;
}

a.on {
    background-color: #008CBA;
}
a.off {
    background-color: #cccccc;
    pointer-events: none;
}

input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="url"],  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.8rem;
    height: 1.8125rem;
    margin: 0 0 0.7rem 0;
    padding: 0.2rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color 0.15s linear, background 0.15s linear;
    -moz-transition: border-color 0.15s linear, background 0.15s linear;
    -ms-transition: border-color 0.15s linear, background 0.15s linear;
    -o-transition: border-color 0.15s linear, background 0.15s linear;
    transition: border-color 0.15s linear, background 0.15s linear;
}

label {
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0;
}
label.right {
    float: none !important;
    text-align: right;
}
label.inline {
    margin: 0;
    padding: 0.25rem 0;
}

fieldset {
    border: 1px solid #DDDDDD;
    margin: 0.5rem 0;
    padding: 0.2rem;
}
fieldset legend {
    background: #FFFFFF;
    font-weight: 600;
    margin: 0 0.1875rem 0.25rem 0.1875rem;
    font-size: 0.85rem;
}
textarea {
    height: 150px;
    max-height: 150px;
}
div.explain {
    padding: 0.2rem 0.2rem;
    margin: 0 0.85rem 0.35rem;
    font-size: 65%;
    font-weight: 100;
    font-style: italic;
    color: #a0a0a0;
    border-color: #a0a0a0;
    border-style: dashed;
    border-width: 0.1rem;
}

#directory {
    padding-top: 0.35rem;
    font-size: 0.75rem;
    font-style: italic;
    word-break: break-all;
}

#start_sync,
#language_space {
    padding: 0.25rem 0px;
}

.lang {
    display: inline-block;
    margin-right: 1rem;
}
.lang label {
    display: inline-block;
    vertical-align: top;
}
